@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  	--font-sans: "Inter", system-ui, sans-serif;
	--animate-colorShift: colorShift 8s ease infinite;
}

html {
  scroll-behavior: smooth;
}

@keyframes colorShift {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}
